@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: max-content;
    background-color: #000000;
}

main{
    position: relative;
    background-color: #000000;
}

.carousel-subtitles{
    background-color: #12121278;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container .carousel .carousel-inner .carousel-item .carousel-caption h5{
    font-size: 25px;
}